/* src/App.css */
 
 /* 메인 컨텐츠 스타일 */
 .main-content {
  display: flex;
  flex-wrap: wrap; /* 줄 바꿈 허용 */
  justify-content: space-around;
  align-items: flex-start; /* 세로 방향 정렬을 시작 지점으로 설정 */
  padding: 1rem;
}

 /* 로그 컨테이너 스타일 */
 
 .log-list-container {
  max-height: 300px;
  overflow-y: auto;
 }
 
 .log-list ul {
  list-style: none;
  padding: 0;
 }
 
 .log-list li {
  margin: 8px 0;
  border-bottom: 1px solid #ccc;
  padding: 4px 0;
  font-size: 25px;
 }

/* 전체 웹사이트의 배경색 설정 */
body {
  background-color: #dca664; /* 원하는 색상 코드로 변경 */
}
